{% assign type = block.settings.type | default: 'icon' %}
<drawer-opener class="inline-flex" data-drawer="#Drawer-Cart"{% unless settings.cart_type == 'drawer' %} data-disabled="true"{% endunless %}>
    <a href="{{ routes.cart_url }}" class="{{ link_class }} btn--icon focus-inset tooltip-activator" aria-haspopup="dialog" role="button" data-opener>
        <div class="cart-link cart-link--{{ type }}">
            {% if type != 'text' %}
                {% render 'icon-cart', name: settings.cart_icon %}
            {% endif %}
            <span class="cart-link__count" data-cart-count-bubble>
                <span data-cart-count-number>{{ cart.item_count }}</span>
                <span class="visually-hidden" data-cart-count-text>{{ 'layout.cart.items_count' | t: count: cart.item_count }}</span>
            </span>
        </div>
        <span{% if type == 'icon' %} class="tooltip tooltip--bottom"{% endif %}>{{ 'layout.cart.title' | t }}</span>
    </a>
</drawer-opener>
