{% liquid
    assign product_list = ''
    assign index = -1
%}
{% if block.type == 'lookbook-slider' %}<lookbook-card-slider>
    <div class="md:hidden">
        {% render 'index-section-header', section_settings: block.settings %}
    </div>
{% endif %}
<div 
	class="f-lookbook-card{% if block.type == 'lookbook-slider' %} f-lookbook-card--slider{% endif %}{% if animated %} f-scroll-trigger animate--{{ animation_effect }}{% endif %} {{ custom_class }}" 
	data-id="{{ block.id }}"
	{% if animated %}
		data-cascade
		style="--animation-order: {{ index }};"
	{% endif %}
	{{ block.shopify_attributes }}
>
    <div class="f-lookbook-card__inner relative f-card">
        {% if block.settings.image != blank %}
            {%- liquid
                assign image_height = block.settings.image.width | divided_by: block.settings.image.aspect_ratio
                if image_aspect_ratio == 'adapt'
                    assign image_aspect_ratio = block.settings.image.aspect_ratio
                endif
            -%}
            <div class="f-image" style="--aspect-ratio: {{ image_aspect_ratio }};">
                {{ block.settings.image | image_url: width: 1500 | image_tag:
                    loading: 'lazy',
                    width: block.settings.image.width,
                    height: image_height,
                    sizes: '100vw',
                    widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
                    alt: block.settings.image.alt | escape
                }}
            </div>
        {% else %}
            {% liquid
                capture current
                    cycle  1, 2, 3, 4, 5, 6
                endcapture
            %}
            {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}

        {% for i in (1..5) %}
            {%- liquid
                assign top__ = 'top_' | append: i
                assign top = block.settings[top__]
                assign left__ = 'left_' | append: i
                assign left = block.settings[left__]
                assign product__ = 'product_' | append: i
                assign prod = block.settings[product__]
                assign product_list = product_list | append: prod | append: ','
            -%}
            {% if prod != blank %}
                {% assign index = index | plus: 1 %}
                <lookbook-icon
                  class="absolute f-lookbook-card__annotation{% if block.type == 'lookbook-slider' %} f-lookbook-card__annotation--slider{% endif %}"
                  style="top: {{ top }}%; left: {{ left }}%;"
                  data-id="{{ block.id }}-{{ i }}"
                  data-index="{{ index }}"
                >
                    <span class="f-lookbook-card__pin f-lookbook-card__pin--{{ block.settings.annotation_color }}">
                        <svg xmlns="https://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path></svg>
                    </span>
                    <div
                        class="f-lookbook-card__product absolute bg-white flex"
                        data-id="{{ block.id }}-{{ i }}-content"
                    >
                        {% unless block.type == 'lookbook-slider' %}
                        <div class="f-lookbook-card__product-image relative f-image--hover-effect">
                            <a class="full-width-link" href="{{ prod.url }}"><span class="visually-hidden">{{ prod.title }}</span></a>
                            {% assign aspect_ratio = prod.featured_media.aspect_ratio | default: 1 %}
                            {% render 'responsive-image', image: prod.featured_media, aspect_ratio: aspect_ratio %}
                        </div>
                        {% endunless %}
                        <div class="f-lookbook-card__product-info flex-1">
                            <a href="{{ prod.url }}" class="f-lookbook-card__product-title text-product-title no-color-schema h6">{{ prod.title }}</a>
                            <p class="f-lookbook-card__product-price">{{ prod.price | money }}</p>
                            {% unless block.type == 'lookbook-slider' %}
                            <a class="btn btn--underline no-color-schema btn-view-details" href="{{ prod.url }}">{{- 'products.product.view_full_details' | t -}}</a>
                            {% endunless %}
                        </div>
                    </div>
                </lookbook-icon>
            {% endif %}
        {% endfor %}
    </div>
    {% if block.type == 'lookbook-slider' %}
				{{ 'component-product-card.css' | asset_url | stylesheet_tag }}
				{% liquid 
					assign total_pages = 0
					for i in (1..5)
						assign product__ = 'product_' | append: i
						assign prod = block.settings[product__]
						if prod != blank
							assign total_pages = total_pages | plus: 1
						endif
						if prod == blank
							continue
						endif
					endfor
				%}
        <div class="f-lookbook__product-wrapper">
            <div class="f-hidden md:block">
                {% render 'index-section-header', section_settings: block.settings %}
            </div>
						<div class="f-lookbook__product-flickity-wrapper relative">
							<flickity-component
                id="LookbookProductsSlider-{{ block.id }}"
                class="f-lookbook__product-slider {% if total_pages <= 2 %}md:flickity-disable {% endif %}flickity-static flickity-show-controls flickity-button-initialized flickity-controls-group flickity-controls-group__bottom flickity-controls-group__bottom--left f-grid f-grid-1-cols md:f-grid-2-cols"
                data-slider-options='{"pageDots": false, "prevNextButtons": true, "wrapAround": true, "dragThreshold": 20, "cellSelector": ".f-column", "adaptiveHeight": false, "selectedAttraction": 0.02, "friction": 0.25}'
                data-enable-slider="true"
                data-slider-columns="2"
								style="--pagination-width: 2.5rem;"
							>
								{% for i in (1..5) %}
									{% liquid
											assign product__ = 'product_' | append: i
											assign prod = block.settings[product__]
											if prod == blank
												continue
											endif
									%}
									<div class="f-column">
											{% render 'product-card', product: prod, show_vendor: false, is_lookbook: true, index: forloop.index, animated: animated, animation_effect: animation_effect %}
									</div>
									{% endfor %}
									{% if total_pages > 1 %}
									<div class="flickity-page-counter no-js-hidden hidden{% if total_pages <= 2 %} md:hidden{% endif %}">
										<span class="flickity-counter--current">1</span>
										<span aria-hidden="true"> / </span>
										<span class="visually-hidden">{{ 'sections.slideshow.of' | t }}</span>
										<span class="flickity-counter--total">{{ total_pages }}</span>
									</div>
									{% endif %}
							</flickity-component>
						</div>
        </div>
    {% endif %}
</div>
{% if block.type == 'lookbook-slider' %}</lookbook-card-slider>{% endif %}
