<div class="f-quantity__wrapper {{ class }}">
    <label class="{% if show_label %}form-label{% else %}visually-hidden{% endif %} font-semibold" for="Quantity-{{ section_id | append: index }}">
        {{- 'products.product.quantity.label' | t -}}
    </label>
    <quantity-input class="f-quantity" data-product-id="{{ product_id | default: product.id }}">
        <button class="f-quantity__button btn btn--plain no-js-hidden" name="minus" type="button">
            <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product_title | escape }}</span>
            <svg width="10" height="2" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M.917 1h8.166" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
        </button>
        <input class="f-quantity__input form-control"
               type="number"
               name="{{ name | default: 'quantity' }}"
               id="Quantity-{{ section_id | append: index }}"
               min="{{ min | default: 0 }}"
               value="{{ value | default: 1 }}"
               {% if form_id %}
               form="{{ form_id }}"
               {% endif %}
                {% if input_label != blank %}
                aria-label="{{ 'products.product.quantity.input_label' | t: product: input_label | escape }}"
                {% endif %}
                data-index="{{ index | plus: 1 }}"
        >
        <button class="f-quantity__button btn btn--plain no-js-hidden" name="plus" type="button">
            <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product_title | escape }}</span>
            <svg width="14" height="14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 2.917v8.166M2.917 7h8.166" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
        </button>
    </quantity-input>
</div>
