{% liquid
  assign section_id = section.settings.custom_id | default: section.id
  assign custom_class = section.settings.custom_class

  unless custom_class == blank
    assign custom_class = custom_class | prepend: ' '
  endunless

  assign container = section.settings.container

	assign animation_effect = settings.animations
	assign animated = false
	if animation_effect != 'none'
		assign animated = true
		if section.settings.animations != 'inherit'
			assign animation_effect = section.settings.animations
		endif
	endif
%}

{% assign formId = 'ContactForm-' | append: section.id %}
<div id="{{ section_id }}" class="f-contact-form{{ custom_class }} f-section-padding color-{{ section.settings.color_schema }}" style="--section-padding-top: {{ section.settings.padding_top }}px ; --section-padding-bottom: {{ section.settings.padding_bottom }}px;">
  <div class="{{ container }}">
    {% render 'index-section-header', section_settings: section.settings %}
    <div class="flex justify-{{- section.settings.form_alignment -}}">
      <div class="f-contact-form__wrapper{% if animated %} f-scroll-trigger animate--{{ animation_effect }}{% endif %}" style="width: {{ section.settings.form_width }}px;max-width: 100%;">
        {%- form 'contact', id: formId -%}
          <div class="f-contact-form__fields">
            {% for block in section.blocks %}
              {% assign hide_label = block.settings.hide_label %}
              {% assign required = block.settings.required %}
              {% case block.type %}
                {% when "name" %}
                  <div class="form-field" block.shopify_attributes>
                    <label class="form-label{% if hide_label %} visually-hidden{% endif %}" for="ContactForm-name-{{ block.id }}">{{ block.settings.label }}{% if required %} <span aria-hidden="true">*</span>{% endif %}</label>
                    <input class="form-control"{% if required %} aria-required="true" required{% endif %}autocomplete="name" type="text" id="ContactForm-name-{{ block.id }}" name="contact[{{ 'templates.contact.form.name' | t }}]" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}" placeholder="{{ block.settings.placeholder }}">
                  </div>
                {% when "email" %}
                  <div class="form-field" block.shopify_attributes>
                    <label class="form-label{% if hide_label %} visually-hidden{% endif %}" for="ContactForm-email-{{ block.id }}">{{ block.settings.label }} <span aria-hidden="true">*</span></label>
                    <input
                            class="form-control{% if form.errors contains 'email' %} form-control--error{% endif %}"
                            id="ContactForm-email-{{ block.id }}"
                            name="contact[email]"
                            spellcheck="false"
                            autocapitalize="off"
                            value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                            placeholder="{{ block.settings.placeholder }}"
                            {% if form.errors contains 'email' %}
                              aria-invalid="true"
                              aria-describedby="ContactForm-email-error"
                            {% endif %}
                            aria-required="true"
                            required
                    >
                    {%- if form.errors contains 'email' -%}
                      <p class="form-message form-message--error" id="ContactForm-email-error">
                        <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                        <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</span>
                      </p>
                    {%- endif -%}
                  </div>
                {% when "phone" %}
                  <div class="form-field" block.shopify_attributes>
                    <label class="form-label{% if hide_label %} visually-hidden{% endif %}" for="ContactForm-phone-{{ block.id }}">{{ block.settings.label }} {% if required %} <span aria-hidden="true">*</span>{% endif %}</label>
                    <input class="form-control"{% if required %} aria-required="true" required{% endif %} pattern="[0-9\-]*" autocomplete="phone" type="tel" id="ContactForm-phone-{{ block.id }}" name="contact[phone]" spellcheck="false" autocapitalize="off" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}" placeholder="{{ block.settings.placeholder }}">
                  </div>
                {% when "message" %}
                  <div class="form-field" block.shopify_attributes>
                    <label class="form-label{% if hide_label %} visually-hidden{% endif %}" for="ContactForm-body-{{ block.id }}">{{ block.settings.label }} <span aria-hidden="true">*</span></label>
                    <textarea class="form-control" required aria-required="true" rows="3" id="ContactForm-body-{{ block.id }}" name="contact[body]" placeholder="{{ block.settings.placeholder }}">
                     {{- form.body -}}
                  </textarea>
                  </div>
              {% endcase %}
            {% endfor %}
            {% if section.blocks.size > 0 %}
            <div class="form-field form-submit flex justify-{{- section.settings.form_alignment -}}">
              {% assign default_submit = 'templates.contact.form.send' | t %}
              <button type="submit" class="btn {{ section.settings.button_style }}">{{ section.settings.button_label | default: default_submit }}</button>
            </div>
            {% endif %}
          </div>
          {% render 'form-status', form: form %}
        {%- endform -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.contact-form.name",
	"disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.common.general.name"
    },
    {
      "type": "select",
      "id": "container",
      "options": [
        {
          "value": "container",
          "label": "t:sections.common.container.fixed"
        },
        {
          "value": "container-fluid",
          "label": "t:sections.common.container.stretched"
        },
        {
          "value": "container-full",
          "label": "t:sections.common.container.fullwidth"
        }
      ],
      "default": "container",
      "label": "t:sections.common.container.label"
    },
    {
      "type": "select",
      "id": "color_schema",
      "label": "t:sections.common.color_schema.label",
      "default": "background-1",
      "options": [
        {
          "value": "accent",
          "label": "t:sections.common.color_schema.option__1.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.common.color_schema.option__2.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.common.color_schema.option__3.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.common.color_schema.option__4.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.common.header.name"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.common.header.heading",
      "default": "Contact form"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:sections.common.heading-size.label",
      "default": "h2",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.common.heading-size.options.option__1"
        },
        {
          "value": "h1",
          "label": "t:sections.common.heading-size.options.option__2"
        },
        {
          "value": "h0",
          "label": "t:sections.common.heading-size.options.option__3"
        }
      ]
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.common.header.description"
    },
    {
      "type": "header",
      "content": "t:sections.contact-form.settings.header_form_settings.content"
    },
    {
      "type": "range",
      "id": "form_width",
      "min": 300,
      "max": 800,
      "step": 5,
      "unit": "px",
      "label": "t:sections.contact-form.settings.form_width.label",
      "default": 500
    },
    {
      "type": "select",
      "id": "form_alignment",
      "label": "t:sections.contact-form.settings.form_alignment.label",
      "options": [
        {
          "value": "start",
          "label": "t:settings_schema.global.settings.content_alignment.option__1.label"
        },
        {
          "value": "center",
          "label": "t:settings_schema.global.settings.content_alignment.option__2.label"
        },
        {
          "value": "end",
          "label": "t:settings_schema.global.settings.content_alignment.option__3.label"
        }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "t:sections.contact-form.settings.header_submit_button.content"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:sections.contact-form.settings.button_label.label",
      "default": "Send"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "t:sections.common.button.button_style.label",
      "options": [
        {
          "value": "btn--primary",
          "label": "t:sections.common.button.button_style.options.option__1"
        },
        {
          "value": "btn--secondary",
          "label": "t:sections.common.button.button_style.options.option__2"
        },
        {
          "value": "btn--white",
          "label": "t:sections.common.button.button_style.options.option__3"
        },
        {
          "value": "btn--underline",
          "label": "t:sections.common.button.button_style.options.option__4"
        }
      ],
      "default": "btn--primary"
    },
    {
      "type": "header",
      "content": "t:sections.common.section_padding.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "t:sections.common.section_padding.top_padding.label",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "t:sections.common.section_padding.bottom_padding.label",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "t:sections.common.custom_attr.header"
    },
    {
      "type": "text",
      "id": "custom_id",
      "label": "t:sections.common.custom_attr.custom_id"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "t:sections.common.custom_attr.custom_class"
    },
		{
			"type": "header",
			"content": "t:settings_schema.animations.header.content"
		},
		{
			"type": "select",
			"id": "animations",
			"label": "t:settings_schema.animations.header__2.content",
			"default": "inherit",
			"options": [
				{"value": "inherit", "label": "t:settings_schema.animations.settings.animation.options.option_6"},
				{"value": "fade-in", "label": "t:settings_schema.animations.settings.animation.options.option_2"},
				{"value": "fade-in-up", "label": "t:settings_schema.animations.settings.animation.options.option_3"},
				{"value": "fade-in-left", "label": "t:settings_schema.animations.settings.animation.options.option_4"},
				{"value": "fade-in-right", "label": "t:settings_schema.animations.settings.animation.options.option_5"}
			]
		}
  ],
  "blocks": [
    {
      "type": "name",
      "name": "t:sections.contact-form.blocks.field_name.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "t:sections.contact-form.blocks.field_label",
          "default": "Name"
        },
        {
          "type": "text",
          "id": "placeholder",
          "label": "t:sections.contact-form.blocks.placeholder",
          "default": "Enter your name"
        },
        {
          "type": "checkbox",
          "id": "hide_label",
          "label": "t:sections.contact-form.blocks.hide_label",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "required",
          "label": "t:sections.contact-form.blocks.required",
          "default": false
        }
      ]
    },
    {
      "type": "email",
      "name": "t:sections.contact-form.blocks.field_email.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "t:sections.contact-form.blocks.field_label",
          "default": "Email"
        },
        {
          "type": "text",
          "id": "placeholder",
          "label": "t:sections.contact-form.blocks.placeholder",
          "default": "Enter your email"
        },
        {
          "type": "checkbox",
          "id": "hide_label",
          "label": "t:sections.contact-form.blocks.hide_label",
          "default": true
        },
        {
          "type": "paragraph",
          "content": "t:sections.contact-form.blocks.field_email.info"
        }
      ]
    },
    {
      "type": "phone",
      "name": "t:sections.contact-form.blocks.field_phone.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "t:sections.contact-form.blocks.field_label",
          "default": "Phone number"
        },
        {
          "type": "text",
          "id": "placeholder",
          "label": "t:sections.contact-form.blocks.placeholder",
          "default": "Enter your phone number"
        },
        {
          "type": "checkbox",
          "id": "hide_label",
          "label": "t:sections.contact-form.blocks.hide_label",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "required",
          "label": "t:sections.contact-form.blocks.required",
          "default": false
        }
      ]
    },
    {
      "type": "message",
      "name": "t:sections.contact-form.blocks.field_message.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "t:sections.contact-form.blocks.field_label",
          "default": "Message"
        },
        {
          "type": "text",
          "id": "placeholder",
          "label": "t:sections.contact-form.blocks.placeholder",
          "default": "Enter your message"
        },
        {
          "type": "checkbox",
          "id": "hide_label",
          "label": "t:sections.contact-form.blocks.hide_label",
          "default": true
        },
        {
          "type": "paragraph",
          "content": "t:sections.contact-form.blocks.field_message.info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name",
      "blocks": [
        {
          "type": "name"
        },
        {
          "type": "email"
        },
        {
          "type": "message"
        }
      ]
    }
  ]
}
{% endschema %}
