<link rel="stylesheet" href="{{ 'countdown-timer.css' | asset_url }}" media="print" onload="this.media='all'">

{% liquid
  assign section_id = section.settings.custom_id | default: section.id
  assign custom_class = section.settings.custom_class

  unless custom_class == blank
    assign custom_class = custom_class | prepend: ' '
  endunless

  assign container = section.settings.container
  assign position = section.settings.position
  assign text_alignment = section.settings.text_alignment
  assign image = section.settings.image
  assign use_content_container = section.settings.use_content_container
  assign content_container = ''
  if use_content_container
    assign content_container = 'container'
  endif

	assign animation_effect = settings.animations
	assign animated = false
	if animation_effect != 'none'
		assign animated = true
		if section.settings.animations != 'inherit'
			assign animation_effect = section.settings.animations
		endif
	endif
%}

<div id="{{ section_id }}" class="f-countdown{{ custom_class }}{% unless image != blank %} f-section-padding{% endunless %}{% if image == blank %} color-{{ section.settings.color_schema }}{% endif %} overflow-hidden" data-section-type="f-countdown-timer" data-section-id="{{ section.id }}" style="--section-padding-top: {{ section.settings.padding_top }}px ; --section-padding-bottom: {{ section.settings.padding_bottom }}px;">
  <div class="{{ container }}">
    <div class="f-countdown__wrapper relative{% if image != blank %} f-section-padding f-countdown__wrapper--has-bg{% endif %}{% if animated and section.settings.enable_bg_zoom_effect %} overflow-hidden f-scroll-trigger animate--zoom-fade{% endif %}">
      {% if image != blank %}
        <div
          class="bg-image{% if animated and section.settings.enable_bg_zoom_effect %} f-image{% endif %}"
          style="--aspect-ratio: {{ image.aspect_ratio }}"
        >
					{%- liquid 
						assign image_height = image.width | divided_by: image.aspect_ratio	
					-%}
					{{ image | image_url: width: 1500 | image_tag:
						loading: 'lazy',
						width: image.width,
						height: image_height,
						sizes: '100vw',
						widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
						alt: image.alt | escape
					}}
        </div>
      {% endif %}
      <div class="f-countdown__content w-full flex justify-{{ position }} {{ content_container }}">
        <div 
					class="f-countdown__inner f-text-blocks text-{{ text_alignment }}{% if image != blank %} f-countdown__inner--boxed color-{{ section.settings.color_schema }}{% endif %}{% if animated %} f-scroll-trigger animate--{{ animation_effect }}{% endif %}"
					{% if animated %}
						data-cascade
					{% endif %}
				>
          {% for block in section.blocks %}
            {% case block.type %}
              {%- when 'heading' -%}
                <h2 class="mega-title" {{ block.shopify_attributes }}>
                  {{ block.settings.heading | escape }}
                </h2>
              {%- when 'subheading' -%}
                <h3 class="mega-subtitle" {{ block.shopify_attributes }}>
                  {{ block.settings.subheading | escape }}
                </h3>
              {%- when 'text' -%}
                <div class="mega-description text-subtext rte" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
              {%- when 'button' -%}
                {%- if block.settings.button_label != blank -%}
                  <a{% if block.settings.button_link != blank %} href="{{ block.settings.button_link }}"{% endif %} class="btn {{ block.settings.button_style }} {{ block.settings.button_size }}"{% if block.settings.button_link == blank %} aria-disabled="true"{% endif %} {{ block.shopify_attributes }}>
                    {{ block.settings.button_label | escape }}
                  </a>
                {%- endif -%}
              {%- when 'timer' -%}
                {%- if block.settings.time != blank -%}
                  {% render 'countdown-timer', time: block.settings.time, id: block.id, style: block.settings.style %}
                {%- endif -%}
            {%- endcase -%}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.countdown-timer.name",
	"disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.common.general.name"
    },
    {
      "type": "select",
      "id": "container",
      "options": [
        {
          "value": "container",
          "label": "t:sections.common.container.fixed"
        },
        {
          "value": "container-fluid",
          "label": "t:sections.common.container.stretched"
        },
        {
          "value": "container-full",
          "label": "t:sections.common.container.fullwidth"
        }
      ],
      "default": "container",
      "label": "t:sections.common.container.label"
    },
    {
      "type": "select",
      "id": "color_schema",
      "label": "t:sections.common.color_schema.label",
      "default": "background-1",
      "options": [
        {
          "value": "accent",
          "label": "t:sections.common.color_schema.option__1.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.common.color_schema.option__2.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.common.color_schema.option__3.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.common.color_schema.option__4.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.countdown-timer.settings.header_settings.content"
    },
    {
      "type": "checkbox",
      "id": "use_content_container",
      "label": "t:sections.countdown-timer.settings.use_content_container.label",
      "default": false
    },
    {
      "type": "select",
      "id": "position",
      "options": [
        {
          "value": "start",
          "label": "t:sections.countdown-timer.settings.position.option__1"
        },
        {
          "value": "center",
          "label": "t:sections.countdown-timer.settings.position.option__2"
        },
        {
          "value": "end",
          "label": "t:sections.countdown-timer.settings.position.option__3"
        }
      ],
      "default": "center",
      "label": "t:sections.countdown-timer.settings.position.label"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:settings_schema.global.settings.text_align_options.option__1.label"
        },
        {
          "value": "center",
          "label": "t:settings_schema.global.settings.text_align_options.option__2.label"
        },
        {
          "value": "right",
          "label": "t:settings_schema.global.settings.text_align_options.option__3.label"
        }
      ],
      "default": "center",
      "label": "t:settings_schema.global.settings.text_align_options.label"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.countdown-timer.settings.bg_image.label"
    },
    {
      "type": "header",
      "content": "t:sections.common.section_padding.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "t:sections.common.section_padding.top_padding.label",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "t:sections.common.section_padding.bottom_padding.label",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "t:sections.common.custom_attr.header"
    },
    {
      "type": "text",
      "id": "custom_id",
      "label": "t:sections.common.custom_attr.custom_id"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "t:sections.common.custom_attr.custom_class"
    },
		{
      "type": "header",
      "content": "t:settings_schema.animations.header.content"
    },
    {
      "type": "select",
      "id": "animations",
      "label": "t:settings_schema.animations.header__2.content",
      "default": "inherit",
      "options": [
        { "value": "inherit", "label": "t:settings_schema.animations.settings.animation.options.option_6" },
        { "value": "fade-in", "label": "t:settings_schema.animations.settings.animation.options.option_2" },
        { "value": "fade-in-up", "label": "t:settings_schema.animations.settings.animation.options.option_3" },
        { "value": "fade-in-left", "label": "t:settings_schema.animations.settings.animation.options.option_4" },
        { "value": "fade-in-right", "label": "t:settings_schema.animations.settings.animation.options.option_5" }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_bg_zoom_effect",
      "label": "t:settings_schema.animations.settings.animation_bg.label",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "timer",
      "name": "t:sections.countdown-timer.blocks.timer.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "time",
          "label": "t:sections.countdown-timer.blocks.timer.settings.time.label",
          "default": "2023/06/20 20:00",
          "info": "t:sections.countdown-timer.blocks.timer.settings.time.info"
        },
        {
          "type": "select",
          "id": "style",
          "label": "t:sections.countdown-timer.blocks.timer.settings.style.label",
          "options": [
            {
              "value": "minimal",
              "label": "t:sections.countdown-timer.blocks.timer.settings.style.options.option__1"
            },
            {
              "value": "highlight",
              "label": "t:sections.countdown-timer.blocks.timer.settings.style.options.option__2"
            }
          ],
          "default": "minimal"
        }
      ]
    },
    {
      "type": "heading",
      "name": "t:sections.countdown-timer.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Sale ends in",
          "label": "t:sections.countdown-timer.blocks.heading.settings.heading.label"
        }
      ]
    },
    {
      "type": "subheading",
      "name": "t:sections.countdown-timer.blocks.subheading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "subheading",
          "label": "t:sections.countdown-timer.blocks.subheading.settings.heading.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.countdown-timer.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Insert the time limit or an encouraging messge of your marketing campaign to create a sense of urgency for your customers. </p>",
          "label": "t:sections.countdown-timer.blocks.text.settings.text.label"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.countdown-timer.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.common.button.button_label.label",
          "default": "Shop now"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.countdown-timer.blocks.button.settings.button_link.label"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "t:sections.common.button.button_style.label",
          "options": [
            {
              "value": "btn--primary",
              "label": "t:sections.common.button.button_style.options.option__1"
            },
            {
              "value": "btn--secondary",
              "label": "t:sections.common.button.button_style.options.option__2"
            },
            {
              "value": "btn--white",
              "label": "t:sections.common.button.button_style.options.option__3"
            },
            {
              "value": "btn--underline",
              "label": "t:sections.common.button.button_style.options.option__4"
            }
          ],
          "default": "btn--primary"
        },
        {
          "type": "select",
          "id": "button_size",
          "label": "t:sections.common.button.button_size.label",
          "options": [
            {
              "value": "",
              "label": "t:sections.common.button.button_size.options.option__1"
            },
            {
              "value": "btn--small",
              "label": "t:sections.common.button.button_size.options.option__2"
            },
            {
              "value": "btn--medium",
              "label": "t:sections.common.button.button_size.options.option__3"
            }
          ],
          "default": ""
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.countdown-timer.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "timer"
        }
      ]
    }
  ]
}
{% endschema %}
