<link rel="stylesheet" href="{{ 'blog.css' | asset_url }}" media="print" onload="this.media='all';">
<noscript>
  {{ 'blog.css' | asset_url | stylesheet_tag }}
</noscript>


{%- liquid
  assign section_id = section.settings.custom_id | default: section.id
  assign custom_class = section.settings.custom_class

  unless custom_class == blank
      assign custom_class = custom_class | prepend: ' '
  endunless

  assign container = section.settings.container
  assign blog = blogs[section.settings.blog]
  assign limit = section.settings.limit
  assign columns = section.settings.columns
  assign show_date = section.settings.show_date
  assign show_excerpt = section.settings.show_excerpt
  assign show_readmore = section.settings.show_readmore
  assign image_aspect_ratio = section.settings.image_aspect_ratio
  assign enable_swipe_mobile = section.settings.enable_swipe_mobile
  assign button_label = section.settings.button_label
  assign button_style = section.settings.button_style
  assign mdCols = columns | minus: 1

  assign enable_slider = section.settings.enable_slider
  assign show_nav = section.settings.show_nav
  assign show_dots = section.settings.show_dots

  if columns < 3 or request.design_mode
      assign mdCols = columns
  endif

	assign animation_effect = settings.animations
	assign animated = false
	if animation_effect != 'none'
		assign animated = true
		if section.settings.animations != 'inherit'
			assign animation_effect = section.settings.animations
		endif
	endif
-%}
<div
  id="{{ section_id }}"
  class="blog-posts{{ custom_class }} f-section-padding color-{{ section.settings.color_schema }}"
  data-section-type="featured-blog"
  data-section-id="{{ section.id }}"
  style="--section-padding-top: {{ section.settings.padding_top }}px ; --section-padding-bottom: {{ section.settings.padding_bottom }}px; --swiper-column-width: 66vw;"
>
  <div class="{{ container }}">
    {% render 'index-section-header', section_settings: section.settings %}
    <flickity-component
      class="f-grid f-grid-2-cols md:f-grid-{{ mdCols }}-cols xl:f-grid-{{ columns }}-cols f-grid--gap-{{ section.settings.column_gap }}{% if enable_swipe_mobile %} f-swiper f-swiper--no-scrollbar{% endif %} flickity-disable{% if enable_slider %} md:flickity-enable{% endif %}"
      data-slider-options='{"pageDots": {{ show_dots }}, "prevNextButtons": {{ show_nav }}, "groupCells": 2, "cellSelector": ".f-column", "contain": true, "wrapAround": true, "freeScroll": {{ request.design_mode }}}'
      data-slider-columns="{{ columns }}"
      data-calc-button-position="true"
      data-enable-slider="{{ enable_slider }}"
    >
      {% unless blog.articles_count == 0 or section.settings.blog == blank %}
        {% for article in blog.articles limit: limit %}
          <div class="f-column">
            {%-
              render 'article-card',
              article: article,
              image_aspect_ratio: image_aspect_ratio,
              show_date: show_date,
              show_excerpt: show_excerpt,
              show_readmore: show_readmore,
              hide_excerpt_on_mobile: true,
							index: forloop.index,
							animated: animated,
							animation_effect: animation_effect
            -%}
          </div>
        {% endfor %}
      {% else %}
        {% for i in (1..limit) %}
          {% if image_aspect_ratio == 'adapt' %}
            {% assign image_aspect_ratio = '1/1' %}
          {% endif %}
          <div class="f-column">
            {% render 'article-card-placeholder',
              image_aspect_ratio: image_aspect_ratio,
              show_date: show_date,
              show_excerpt: show_excerpt,
              show_readmore: show_readmore,
              hide_excerpt_on_mobile: true,
							index: forloop.index,
							animated: animated,
							animation_effect: animation_effect
            %}
          </div>
        {% endfor %}
      {% endunless %}
    </flickity-component>
    {% unless button_label == blank %}
      <div class="section__footer flex justify-center">
        <a class="btn {{ button_style }}" href="{{ blog.url }}">
          {{ button_label }}
        </a>
      </div>
    {% endunless %}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.featured-blog.name",
	"disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.common.general.name"
    },
    {
      "type": "select",
      "id": "container",
      "options": [
        {
          "value": "container",
          "label": "t:sections.common.container.fixed"
        },
        {
          "value": "container-fluid",
          "label": "t:sections.common.container.stretched"
        },
        {
          "value": "container-full",
          "label": "t:sections.common.container.fullwidth"
        }
      ],
      "default": "container",
      "label": "t:sections.common.container.label"
    },
    {
      "type": "select",
      "id": "color_schema",
      "label": "t:sections.common.color_schema.label",
      "default": "background-1",
      "options": [
        {
          "value": "accent",
          "label": "t:sections.common.color_schema.option__1.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.common.color_schema.option__2.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.common.color_schema.option__3.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.common.color_schema.option__4.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.common.header.name"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.common.header.heading",
      "default": "Blog posts"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:sections.common.heading-size.label",
      "default": "h2",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.common.heading-size.options.option__1"
        },
        {
          "value": "h1",
          "label": "t:sections.common.heading-size.options.option__2"
        },
        {
          "value": "h0",
          "label": "t:sections.common.heading-size.options.option__3"
        }
      ]
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.common.header.description"
    },
    {
      "type": "header",
      "content": "t:sections.featured-blog.settings.header_01.label"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "t:sections.featured-blog.settings.blog.label"
    },
    {
      "type": "header",
      "content": "t:settings_schema.article_card.name"
    },
    {
      "type": "select",
      "id": "image_aspect_ratio",
      "label": "t:settings_schema.global.settings.image_aspect_ratio_options.label",
      "default": "adapt",
      "options": [
        {
          "value": "adapt",
          "label": "t:settings_schema.global.settings.image_aspect_ratio_options.option__1.label"
        },
        {
          "value": "1/1",
          "label": "t:settings_schema.global.settings.image_aspect_ratio_options.option__2.label"
        },
        {
          "value": "3/4",
          "label": "t:settings_schema.global.settings.image_aspect_ratio_options.option__3.label"
        },
        {
          "value": "4/3",
          "label": "t:settings_schema.global.settings.image_aspect_ratio_options.option__5.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "label": "t:settings_schema.article_card.settings.show_date.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "label": "t:settings_schema.article_card.settings.show_excerpt.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_readmore",
      "label": "t:settings_schema.article_card.settings.show_read_more.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.featured-blog.settings.view_all.label"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:sections.common.button.button_label.label",
      "info": "t:sections.common.button.button_label.info"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "t:sections.common.button.button_style.label",
      "options": [
        {
          "value": "btn--primary",
          "label": "t:sections.common.button.button_style.options.option__1"
        },
        {
          "value": "btn--secondary",
          "label": "t:sections.common.button.button_style.options.option__2"
        },
        {
          "value": "btn--white",
          "label": "t:sections.common.button.button_style.options.option__3"
        },
        {
          "value": "btn--underline",
          "label": "t:sections.common.button.button_style.options.option__4"
        }
      ],
      "default": "btn--primary"
    },
    {
      "type": "header",
      "content": "t:sections.common.grid.name"
    },
    {
      "type": "range",
      "id": "limit",
      "label": "t:sections.common.grid.post_limit",
      "min": 2,
      "max": 12,
      "step": 1,
      "default": 8
    },
    {
      "type": "range",
      "id": "columns",
      "label": "t:sections.common.grid.columns",
      "min": 2,
      "max": 6,
      "step": 1,
      "default": 4
    },
    {
      "type": "select",
      "id": "column_gap",
      "label": "t:sections.common.grid.gap",
      "options": [
        {
          "label": "t:sections.common.grid.gap_options.option_01",
          "value": "large"
        },
        {
          "label": "t:sections.common.grid.gap_options.option_02",
          "value": "medium"
        },
        {
          "label": "t:sections.common.grid.gap_options.option_03",
          "value": "small"
        },
        {
          "label": "t:sections.common.grid.gap_options.option_04",
          "value": "none"
        }
      ],
      "default": "medium"
    },
    {
      "type": "header",
      "content": "t:sections.common.slider.header"
    },
    {
      "type": "checkbox",
      "id": "enable_slider",
      "label": "t:sections.common.slider.enable_slider",
      "default": false,
      "info": "t:sections.common.slider.enable_slider_info.blog_post"
    },
    {
      "type": "checkbox",
      "id": "show_dots",
      "label": "t:sections.common.slider.show_dots",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_nav",
      "label": "t:sections.common.slider.show_nav",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.common.mobile.header"
    },
    {
      "type": "checkbox",
      "id": "enable_swipe_mobile",
      "label": "t:sections.common.mobile.swipe_on_mobile.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.common.section_padding.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "t:sections.common.section_padding.top_padding.label",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "t:sections.common.section_padding.bottom_padding.label",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "t:sections.common.custom_attr.header"
    },
    {
      "type": "text",
      "id": "custom_id",
      "label": "t:sections.common.custom_attr.custom_id"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "t:sections.common.custom_attr.custom_class"
    },
		{
			"type": "header",
			"content": "t:settings_schema.animations.header.content"
		},
		{
			"type": "select",
			"id": "animations",
			"label": "t:settings_schema.animations.header__2.content",
			"default": "inherit",
			"options": [
				{"value": "inherit", "label": "t:settings_schema.animations.settings.animation.options.option_6"},
				{"value": "fade-in", "label": "t:settings_schema.animations.settings.animation.options.option_2"},
				{"value": "fade-in-up", "label": "t:settings_schema.animations.settings.animation.options.option_3"},
				{"value": "fade-in-left", "label": "t:settings_schema.animations.settings.animation.options.option_4"},
				{"value": "fade-in-right", "label": "t:settings_schema.animations.settings.animation.options.option_5"}
			]
		}
  ],
  "presets": [
    {
      "name": "t:sections.featured-blog.presets.name",
      "settings": {
        "blog": "News"
      }
    }
  ]
}
{% endschema %}
