{%- liquid
  assign image_height = section.settings.image_height
  assign text_alignment = section.settings.text_alignment
  assign collection_desc = collection.description
  assign collection_image = collection.image
  assign show_collection_image = section.settings.show_collection_image
  assign use_image_as_background = section.settings.use_image_as_background
  assign image_overlay_opacity = section.settings.image_overlay_opacity
  assign wrapper_class = ''
  assign show_image = false

  for block in section.blocks
    assign selected_collection = collections[block.settings.collection]
    if selected_collection.handle == collection.handle
      assign custom_image = block.settings.image
    endif
  endfor

  if custom_image != blank
    assign image_banner = custom_image
  else
    assign image_banner = collection_image
  endif

  if use_image_as_background
    assign wrapper_class = 'bg-image'
    assign banner_bg = 'collection-banner--bg'
  else
    assign wrapper_class = 'collection-banner__image'
  endif

  if show_collection_image
    if collection_image != blank or custom_image != blank
    assign show_image = true
    else
    assign show_image = false
    endif
  endif

  if image_height == 'adapt'
    if image_banner.aspect_ratio == blank or show_collection_image == false or use_image_as_background == false
      assign wrapper_height = 'auto'
    else
      assign min_aspect_ratio = image_banner.aspect_ratio
      assign wrapper_height = 100 | divided_by: min_aspect_ratio | append: 'vw'
    endif
  endif

	assign animation_effect = settings.animations
	assign animated = false
	if animation_effect != 'none'
		assign animated = true
		if section.settings.animations != 'inherit'
			assign animation_effect = section.settings.animations
		endif
	endif
-%}

{%- style -%}
	.collection-banner {
		position: relative;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	.collection-banner__inner {
		position: relative;
		z-index: 1;
		padding: 3rem 0 4rem;
	}
	.collection-banner__title {
		margin-bottom: 0;
	}
	.collection-banner__description {
		margin-top: 1.2rem;
	}
  .collection-banner .bg-image,.collection-banner__image {
    height: var(--banner-height)
  }
  .collection-banner .bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none
  }
  .collection-banner--bg {
    min-height: var(--banner-height)
  }
  .collection-banner--small {
    --banner-height: 14rem
  }
  .collection-banner--medium {
    --banner-height: 24rem
  }
  .collection-banner--large {
    --banner-height: 32rem
  }
  @media(min-width: 768px) {
    .collection-banner--small {
      --banner-height: 22rem
    }
    .collection-banner--medium {
      --banner-height: 29rem
    }
    .collection-banner--large {
      --banner-height: 36rem
    }
  }
{% endstyle %}

{% if section.settings.show_breadcrumb %}
  {% render 'breadcrumb', container: section.settings.container, justify: section.settings.text_alignment %}
{% endif %}
<div
    data-section-type="collection-banner"
    data-section-id="{{ section.id }}"
    class="collection-banner color-{{ section.settings.color_schema }} collection-banner--{{ image_height }} {{ banner_bg }} {{ collection.handle }}{% if animated and section.settings.enable_bg_zoom_effect %} overflow-hidden f-scroll-trigger animate--zoom-fade{% endif %}"
    {% if image_height == 'adapt' %}
    style="--banner-height: {{- wrapper_height -}}"
    {% endif %}
>
    <div class="{{ section.settings.container }} text-{{ text_alignment }}">
        <div class="collection-banner__inner flex flex-col justify-center">
            <h1 
							class="collection-banner__title h2 {% if section.settings.upper_title %}text-upper{% endif %}{% if animated %} f-scroll-trigger animate--{{ animation_effect }}{% endif %}"
							{% if animated %}
								data-cascade
								style="--animation-order: 1;"
							{% endif %}
						>
              <span class="visually-hidden">{{ 'sections.collection_template.title' | t }}:</span>
              {{ collection.title }}
            </h1>
            {% if section.settings.show_desc and collection_desc != blank %}
              <div 
								class="collection-banner__description rte{% if animated %} f-scroll-trigger animate--{{ animation_effect }}{% endif %}"
								{% if animated %}
									data-cascade
									style="--animation-order: 2;"
								{% endif %}
							>
                {{ collection_desc }}
              </div>
            {% endif %}
        </div>
        {% if show_image and image_banner %}
					{%- liquid 
						assign img_height = image_banner.width | divided_by: image_banner.aspect_ratio
						if image_height == 'adapt'
							assign image_aspect_ratio = image_banner.aspect_ratio
						endif
					-%}
					<div class="f-image {{ wrapper_class }}" {% if image_height == 'adapt' %}style="--aspect-ratio: {{ image_aspect_ratio }};"{% endif %}>
						{{ image_banner | image_url: width: 1500 | image_tag:
							loading: 'lazy',
							width: image_banner.width,
							height: img_height,
							sizes: '100vw',
							widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
							alt: image_banner.alt | escape
						}}
					</div>
        {% endif %}
    </div>
    {% if image_overlay_opacity > 0 and use_image_as_background %}
      <div class="bg-overlay" style="--color-overlay-alpha: {{ image_overlay_opacity }}"></div>
    {% endif %}
</div>

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "select",
      "id": "container",
      "options": [
        {
          "value": "container",
          "label": "t:sections.common.container.fixed"
        },
        {
          "value": "container-fluid",
          "label": "t:sections.common.container.stretched"
        },
        {
          "value": "container-full",
          "label": "t:sections.common.container.fullwidth"
        }
      ],
      "default": "container",
      "label": "t:sections.common.container.label"
    },
    {
      "type": "select",
      "id": "color_schema",
      "label": "t:sections.common.color_schema.label",
      "default": "background-2",
      "options": [
        {
          "value": "accent",
          "label": "t:sections.common.color_schema.option__1.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.common.color_schema.option__2.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.common.color_schema.option__3.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.common.color_schema.option__4.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_height",
      "label": "t:sections.main-collection-banner.settings.image_height.label",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-collection-banner.settings.image_height.option__1"
        },
        {
          "value": "small",
          "label": "t:sections.main-collection-banner.settings.image_height.option__2"
        },
        {
          "value": "medium",
          "label": "t:sections.main-collection-banner.settings.image_height.option__3"
        },
        {
          "value": "large",
          "label": "t:sections.main-collection-banner.settings.image_height.option__4"
        }
      ],
      "default": "adapt"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "t:settings_schema.global.settings.content_alignment.desktop.label",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "t:settings_schema.global.settings.content_alignment.option__1.label"
        },
        {
          "value": "center",
          "label": "t:settings_schema.global.settings.content_alignment.option__2.label"
        },
        {
          "value": "right",
          "label": "t:settings_schema.global.settings.content_alignment.option__3.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_breadcrumb",
      "label": "t:sections.breadcrumb.enable_breadcrumb",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_desc",
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "use_image_as_background",
      "label": "t:sections.main-collection-banner.settings.use_image_as_background.label",
      "default": true
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "t:sections.slideshow.settings.image_overlay_opacity.label",
      "default": 0
    },
		{
      "type": "header",
      "content": "t:settings_schema.animations.header.content"
    },
    {
      "type": "select",
      "id": "animations",
      "label": "t:settings_schema.animations.header__2.content",
      "default": "inherit",
      "options": [
        { "value": "inherit", "label": "t:settings_schema.animations.settings.animation.options.option_6" },
        { "value": "fade-in", "label": "t:settings_schema.animations.settings.animation.options.option_2" },
        { "value": "fade-in-up", "label": "t:settings_schema.animations.settings.animation.options.option_3" },
        { "value": "fade-in-left", "label": "t:settings_schema.animations.settings.animation.options.option_4" },
        { "value": "fade-in-right", "label": "t:settings_schema.animations.settings.animation.options.option_5" }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_bg_zoom_effect",
      "label": "t:settings_schema.animations.settings.animation_bg.label",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "banner",
      "name": "t:sections.main-collection-banner.blocks.collection.name",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.main-collection-banner.blocks.collection.settings.collection.label",
          "info": "t:sections.main-collection-banner.blocks.collection.settings.collection.info"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.main-collection-banner.blocks.collection.settings.image.label"
        }
      ]
    }
  ]
}
{% endschema %}
