
{% liquid
  assign section_id = section.settings.custom_id | default: section.id
  assign custom_class = section.settings.custom_class

  unless custom_class == blank
    assign custom_class = custom_class | prepend: ' '
  endunless

  assign container = section.settings.container

	assign animation_effect = settings.animations
	assign animated = false
	if animation_effect != 'none'
		assign animated = true
		if section.settings.animations != 'inherit'
			assign animation_effect = section.settings.animations
		endif
	endif
%}

<div id="{{ section_id }}" class="rich-text{{ custom_class }} f-section-padding color-{{ section.settings.color_schema }}" style="--section-padding-top: {{ section.settings.padding_top }}px ; --section-padding-bottom: {{ section.settings.padding_bottom }}px;">
  <div class="{{ container }}">
    <div class="rich-text__wrapper">
      <div class="rich-text__content f-text-blocks text-{{ section.settings.text_alignment }}">
        {%- for block in section.blocks -%}
          {% case block.type %}
            {%- when 'heading' -%}
              <h2 
								class="rich-text__heading {{ block.settings.heading_size }}{% if animated %} f-scroll-trigger animate--{{ animation_effect }}{% endif %}"
								{% if animated %}
									data-cascade
									style="--animation-order: {{ forloop.index }};"
								{% endif %}
								{{ block.shopify_attributes }}
							>
                {{ block.settings.heading }}
              </h2>
            {%- when 'subheading' -%}
              <h2 
								class="rich-text__subheading mega-subtitle h6{% if animated %} f-scroll-trigger animate--{{ animation_effect }}{% endif %}"
								{% if animated %}
									data-cascade
									style="--animation-order: {{ forloop.index }};"
								{% endif %}
								{{ block.shopify_attributes }}
							>
                {{ block.settings.subheading }}
              </h2>
            {%- when 'text' -%}
              <div 
								class="rich-text__text mega-description rte{% if animated %} f-scroll-trigger animate--{{ animation_effect }}{% endif %}"
								{% if animated %}
									data-cascade
									style="--animation-order: {{ forloop.index }};"
								{% endif %}
								{{ block.shopify_attributes }}
							>{{ block.settings.text }}</div>
            {%- when 'button' -%}
              {%- if block.settings.button_label != blank -%}
								<div 
									class="{% if animated %} f-scroll-trigger animate--{{ animation_effect }}{% endif %}"
									{% if animated %}
										data-cascade
										style="--animation-order: {{ forloop.index }};"
									{% endif %}
								>
									<a
										{% if block.settings.button_link != blank %} href="{{ block.settings.button_link }}"{% endif %} 
										class="btn {{ block.settings.button_style }} {{ block.settings.button_size }}"
										{% if block.settings.button_link == blank %} aria-disabled="true"{% endif %} 
										{{ block.shopify_attributes }}
									>
										{{ block.settings.button_label | escape }}
									</a>
								</div>
              {%- endif -%}
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.rich-text.name",
	"disabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.common.general.name"
    },
    {
      "type": "select",
      "id": "container",
      "options": [
        {
          "value": "container",
          "label": "t:sections.common.container.fixed"
        },
        {
          "value": "container-fluid",
          "label": "t:sections.common.container.stretched"
        },
        {
          "value": "container-full",
          "label": "t:sections.common.container.fullwidth"
        },
        {
          "value": "container-narrow",
          "label": "t:sections.common.container.narrow"
        }
      ],
      "default": "container",
      "label": "t:sections.common.container.label"
    },
    {
      "type": "select",
      "id": "color_schema",
      "label": "t:sections.common.color_schema.label",
      "default": "background-1",
      "options": [
        {
          "value": "accent",
          "label": "t:sections.common.color_schema.option__1.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.common.color_schema.option__2.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.common.color_schema.option__3.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.common.color_schema.option__4.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.rich-text.settings.header_settings.content"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "t:settings_schema.global.settings.text_align_options.label",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "t:settings_schema.global.settings.text_align_options.option__1.label"
        },
        {
          "value": "center",
          "label": "t:settings_schema.global.settings.text_align_options.option__2.label"
        },
        {
          "value": "right",
          "label": "t:settings_schema.global.settings.text_align_options.option__3.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.common.section_padding.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "t:sections.common.section_padding.top_padding.label",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "t:sections.common.section_padding.bottom_padding.label",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "t:sections.common.custom_attr.header"
    },
    {
      "type": "text",
      "id": "custom_id",
      "label": "t:sections.common.custom_attr.custom_id"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "t:sections.common.custom_attr.custom_class"
    },
		{
			"type": "header",
			"content": "t:settings_schema.animations.header.content"
		},
		{
			"type": "select",
			"id": "animations",
			"label": "t:settings_schema.animations.header__2.content",
			"default": "inherit",
			"options": [
				{"value": "inherit", "label": "t:settings_schema.animations.settings.animation.options.option_6"},
				{"value": "fade-in", "label": "t:settings_schema.animations.settings.animation.options.option_2"},
				{"value": "fade-in-up", "label": "t:settings_schema.animations.settings.animation.options.option_3"},
				{"value": "fade-in-left", "label": "t:settings_schema.animations.settings.animation.options.option_4"},
				{"value": "fade-in-right", "label": "t:settings_schema.animations.settings.animation.options.option_5"}
			]
		}
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.rich-text.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Talk about your brand",
          "label": "t:sections.rich-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:sections.common.heading-size.label",
          "default": "h2",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.common.heading-size.options.option__1"
            },
            {
              "value": "h1",
              "label": "t:sections.common.heading-size.options.option__2"
            },
            {
              "value": "h0",
              "label": "t:sections.common.heading-size.options.option__3"
            }
          ]
        }
      ]
    },
    {
      "type": "subheading",
      "name": "t:sections.rich-text.blocks.subheading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "subheading",
          "default": "Subheading text",
          "label": "t:sections.rich-text.blocks.subheading.settings.heading.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.rich-text.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post.<br> Add details on availability, style, or even provide a review.</p>",
          "label": "t:sections.rich-text.blocks.text.settings.text.label"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.rich-text.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.common.button.button_label.label",
          "default": "Button label",
          "info": "t:sections.common.button.button_label.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.rich-text.blocks.button.settings.button_link.label"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "t:sections.common.button.button_style.label",
          "options": [
            {
              "value": "btn--primary",
              "label": "t:sections.common.button.button_style.options.option__1"
            },
            {
              "value": "btn--secondary",
              "label": "t:sections.common.button.button_style.options.option__2"
            },
            {
              "value": "btn--white",
              "label": "t:sections.common.button.button_style.options.option__3"
            },
            {
              "value": "btn--underline",
              "label": "t:sections.common.button.button_style.options.option__4"
            }
          ],
          "default": "btn--primary"
        },
        {
          "type": "select",
          "id": "button_size",
          "label": "t:sections.common.button.button_size.label",
          "options": [
            {
              "value": "",
              "label": "t:sections.common.button.button_size.options.option__1"
            },
            {
              "value": "btn--small",
              "label": "t:sections.common.button.button_size.options.option__2"
            },
            {
              "value": "btn--medium",
              "label": "t:sections.common.button.button_size.options.option__3"
            }
          ],
          "default": ""
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.rich-text.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
